CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - -rdc=true
    - --generate-code*
    - --expt-relaxed-constexpr
    - --extended-lambda
    - --default-stream
    - --options-file
  Add:
    - -xcuda
    - -std=c++17
    - --cuda-gpu-arch=sm_80
    - --cuda-path=/opt/cuda
    - -L/opt/cuda/lib
    - -I/opt/cuda/include
